{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Akiba Auto{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/akiba_auto_min.png' %}">
    <meta name="theme-color" content="#131313">
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'images/logo-akiba.png' %}" alt="Akiba Auto">
        <span>Akiba Auto</span>
    </a>
</h1>
{% endblock %}

